/* màu chữ */

.content-hero1{

    font-size: 50px;
    top: -100%;
    position: absolute; 
    left: 30%;
}

.content-he1 {

    color: orange;
    font-size:  30px;


  }



/* code css */
.accordion-button:focus,
.accordion-button:active {
  background-color: orange;
}


.accordion {
    float: left;
    width: 500px; /* Đặt kích thước chiều rộng theo yêu cầu của bạn */


    top: 80%;
    position: absolute; 
    left: 20%;
  }


  .accordion-body strong {
    display: inline; /* hoặc display: inline-block; */
  }

/*  bài viết mới */

  /* code css bài viết mới   */
  .img-right-col-new {
    width: 90px;
  }

  .right-col-new {
    display: flex;
    flex-direction: row-reverse;
  }

  /* code hotline footer */
  .hotline-03 {
    position: absolute;
    top: -11%;
    right: -33%;
    background-color: #ff9900;
    padding: 10px;
    width: 700px;
    /* Đặt chiều rộng mong muốn */
    height: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* transform: skewX(10deg); */
    /* transform-origin: bottom right; */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
    /* tạo thanh nav có đường viền */
    background-image: repeating-linear-gradient(45deg, #f7a20f 0, #f7a20f 2px, transparent 0, transparent 50%);
    background-size: 10px 10px;
  }
  
  /* code car footer */

  
/* code css tạo chuyển động xe ô tô */
.icon-car-03 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  overflow: hidden;
  top: 223px;
  position: relative;
}

.icon-car-03 .car1 {
  animation: carAnimation 6s linear infinite;
}

@keyframes carAnimation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.icon-car-03 .car2 {
  animation: carAnimation2 6s linear infinite;
}

@keyframes carAnimation2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.icon-car-03 .car3 {
  animation: carAnimation3 6s linear infinite;
}

@keyframes carAnimation3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}




/* code thanh nav */
.white-text001 {
  color: white;
  position: relative;
  transform: translateX(107%);
  position: absolute;
  right: -3%;
  top: -46;
}
/* footer ảnh logo */
.logo-image1{
    /* transform: translateX(-100%); */
    float: left;
    width: 200px;
    height: auto;
    position: absolute;
    top: 27px;
    left: -8%;
}



 .description-1{
  position: absolute;
  top: 19px;
 }

/* trang cuộn xuống */
/* CODE TẠO THANH CUỘN XUỐNG */

.scroll-navbar {
  height: 80px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.scroll-navbar .container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.scroll-navbar .navbar-brand img {
  height: 40px;
}

.side-navbar {
  height: 80px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  /* display: none; */


}

.side-navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-navbar li {
  margin-right: 20px;
}

.side-navbar a {
  color: black;
  text-decoration: none;
}
.logo000{

  position: absolute;
  left: 190px;
  top: 10px;
}








.side-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: white;
  color: black;
}

.side-navbar {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.side-navbar.show {
  display: block;
  /* Hiển thị khi cuộn đủ 200px */
}

.side-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.side-navbar li {
  margin-right: 20px;
}

.side-navbar a {
  color: black;
  text-decoration: none;
}



/* mục liện hệ  THANH CUỘN*/

.contact-nav111{
  position: absolute;
  top: 9%;
  /* Adjust the distance from the top as needed */
  left: 83%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  transform: skewX(0deg);
  width: 10%;
  /* Adjust the width as needed */
  height: 63px;


}


.navbar-toggler01{
  color: white;
  background-color: black;
  right: -211px;
    top: 21px;
    position: absolute;
}
